
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: internal_wallet_api
    restart: unless-stopped
    env_file:
      - .env.production
    ports:
      - "8001:8000"
    networks:
      - wallet_net

networks:
  wallet_net:
